## Commodity Prices

In [2]:
import pandas as pd

In [3]:
# read json file format
df = pd.read_json(r'C:\Users\CYPHA\OneDrive\Documents\VisualizeGhana\Price_20240111-155114.json')
df

                                                     dataset
dimension  {'commodity_price': {'label': 'commodity_price...
label                    Prices by commodity_price and month
source                                             BOG & NPA
status     {'852': '..', '853': '..', '854': '..', '855':...
updated                                 2023-12-04T19:12:00Z
value      [846.3, 701.4, 846.5, 816.4, 822.1, 852.5, 845...

In [4]:
# get commodities
commodities = df.loc['dimension'][0]['commodity_price']['category']['label'].values()
commodities

dict_values(['COCOA_PRICE', 'DIESEL_PRICE', 'GOLD_PRICE', 'OIL_PRICE', 'PETROL_PRICE'])

In [5]:
# get months of the years
months = df.loc['dimension'][0]['month']['category']['label'].values()
# get an array or list of months
month = [m for m in months]
month

['2000M01',
 '2000M02',
 '2000M03',
 '2000M04',
 '2000M05',
 '2000M06',
 '2000M07',
 '2000M08',
 '2000M09',
 '2000M10',
 '2000M11',
 '2000M12',
 '2001M01',
 '2001M02',
 '2001M03',
 '2001M04',
 '2001M05',
 '2001M06',
 '2001M07',
 '2001M08',
 '2001M09',
 '2001M10',
 '2001M11',
 '2001M12',
 '2002M01',
 '2002M02',
 '2002M03',
 '2002M04',
 '2002M05',
 '2002M06',
 '2002M07',
 '2002M08',
 '2002M09',
 '2002M10',
 '2002M11',
 '2002M12',
 '2003M01',
 '2003M02',
 '2003M03',
 '2003M04',
 '2003M05',
 '2003M06',
 '2003M07',
 '2003M08',
 '2003M09',
 '2003M10',
 '2003M11',
 '2003M12',
 '2004M01',
 '2004M02',
 '2004M03',
 '2004M04',
 '2004M05',
 '2004M06',
 '2004M07',
 '2004M08',
 '2004M09',
 '2004M10',
 '2004M11',
 '2004M12',
 '2005M01',
 '2005M02',
 '2005M03',
 '2005M04',
 '2005M05',
 '2005M06',
 '2005M07',
 '2005M08',
 '2005M09',
 '2005M10',
 '2005M11',
 '2005M12',
 '2006M01',
 '2006M02',
 '2006M03',
 '2006M04',
 '2006M05',
 '2006M06',
 '2006M07',
 '2006M08',
 '2006M09',
 '2006M10',
 '2006M11',
 '2006M12',
 '2007M01',
 '2007M02',
 '2007M03',
 '2007M04',
 '2007M05',
 '2007M06',
 '2007M07',
 '2007M08',
 '2007M09',
 '2007M10',
 '2007M11',
 '2007M12',
 '2008M01',
 '2008M02',
 '2008M03',
 '2008M04',
 '2008M05',
 '2008M06',
 '2008M07',
 '2008M08',
 '2008M09',
 '2008M10',
 '2008M11',
 '2008M12',
 '2009M01',
 '2009M02',
 '2009M03',
 '2009M04',
 '2009M05',
 '2009M06',
 '2009M07',
 '2009M08',
 '2009M09',
 '2009M10',
 '2009M11',
 '2009M12',
 '2010M01',
 '2010M02',
 '2010M03',
 '2010M04',
 '2010M05',
 '2010M06',
 '2010M07',
 '2010M08',
 '2010M09',
 '2010M10',
 '2010M11',
 '2010M12',
 '2011M01',
 '2011M02',
 '2011M03',
 '2011M04',
 '2011M05',
 '2011M06',
 '2011M07',
 '2011M08',
 '2011M09',
 '2011M10',
 '2011M11',
 '2011M12',
 '2012M01',
 '2012M02',
 '2012M03',
 '2012M04',
 '2012M05',
 '2012M06',
 '2012M07',
 '2012M08',
 '2012M09',
 '2012M10',
 '2012M11',
 '2012M12',
 '2013M01',
 '2013M02',
 '2013M03',
 '2013M04',
 '2013M05',
 '2013M06',
 '2013M07',
 '2013M08',
 '2013M09',
 '2013M10',
 '2013M11',
 '2013M12',
 '2014M01',
 '2014M02',
 '2014M03',
 '2014M04',
 '2014M05',
 '2014M06',
 '2014M07',
 '2014M08',
 '2014M09',
 '2014M10',
 '2014M11',
 '2014M12',
 '2015M01',
 '2015M02',
 '2015M03',
 '2015M04',
 '2015M05',
 '2015M06',
 '2015M07',
 '2015M08',
 '2015M09',
 '2015M10',
 '2015M11',
 '2015M12',
 '2016M01',
 '2016M02',
 '2016M03',
 '2016M04',
 '2016M05',
 '2016M06',
 '2016M07',
 '2016M08',
 '2016M09',
 '2016M10',
 '2016M11',
 '2016M12',
 '2017M01',
 '2017M02',
 '2017M03',
 '2017M04',
 '2017M05',
 '2017M06',
 '2017M07',
 '2017M08',
 '2017M09',
 '2017M10',
 '2017M11',
 '2017M12',
 '2018M01',
 '2018M02',
 '2018M03',
 '2018M04',
 '2018M05',
 '2018M06',
 '2018M07',
 '2018M08',
 '2018M09',
 '2018M10',
 '2018M11',
 '2018M12',
 '2019M01',
 '2019M02',
 '2019M03',
 '2019M04',
 '2019M05',
 '2019M06',
 '2019M07',
 '2019M08',
 '2019M09',
 '2019M10',
 '2019M11',
 '2019M12',
 '2020M01',
 '2020M02',
 '2020M03',
 '2020M04',
 '2020M05',
 '2020M06',
 '2020M07',
 '2020M08',
 '2020M09',
 '2020M10',
 '2020M11',
 '2020M12',
 '2021M01',
 '2021M02',
 '2021M03',
 '2021M04',
 '2021M05',
 '2021M06',
 '2021M07',
 '2021M08',
 '2021M09',
 '2021M10',
 '2021M11',
 '2021M12',
 '2022M01',
 '2022M02',
 '2022M03',
 '2022M04',
 '2022M05',
 '2022M06',
 '2022M07',
 '2022M08',
 '2022M09',
 '2022M10',
 '2022M11',
 '2022M12',
 '2023M01',
 '2023M02',
 '2023M03',
 '2023M04']

In [6]:
# get the commodity prices
values = df.loc['value'][0]
values

[846.3,
 701.4,
 846.5,
 816.4,
 822.1,
 852.5,
 845.5,
 775,
 790.1,
 807,
 714.9,
 717.9,
 916.4,
 1097.9,
 1054.5,
 1005.5,
 1005.5,
 923.7,
 926.4,
 997.5,
 963.1,
 1045.5,
 1194.1,
 1290.2,
 1335.2,
 1439,
 1519.7,
 1530.6,
 1546.6,
 1526,
 1754.2,
 1855.6,
 2070.8,
 2151.4,
 1791.9,
 2013.7,
 2190.1,
 2255.8,
 1991.9,
 1981.5,
 1758,
 1533.7,
 1529.9,
 1584.4,
 1599.9,
 1459.5,
 1348.6,
 1590.1,
 1599.6,
 1528.6,
 1467.8,
 1389.2,
 1373.3,
 1348.6,
 1514.2,
 1682.6,
 1488.3,
 1441.3,
 1626.5,
 1620.1,
 1508.7,
 1586.1,
 1723.2,
 1537,
 1457.9,
 1480.7,
 1428.8,
 1409.9,
 1436.7,
 1380,
 1367.6,
 1461.6,
 1518.3,
 1482.2,
 1481.2,
 1471.6,
 1518.4,
 1520.9,
 1596.5,
 1495.1,
 1488.3,
 1449.3,
 1498.5,
 1629.3,
 1607.7,
 1712,
 1839.7,
 1897.4,
 1910.1,
 1927.7,
 2051.6,
 1826.4,
 1895.5,
 1878.3,
 1947.2,
 2071.9,
 2174.6,
 2501.8,
 2614.2,
 2567.6,
 2647,
 3071.2,
 2928.5,
 2771.3,
 2645.7,
 2194.6,
 2033.6,
 2445.1,
 2574.6,
 2622.3,
 2444.5,
 2498,
 2402.8,
 2631.7,
 2708.5,
 2876.3,
 3042,
 3253.5,
 3230.4,
 3334.5,
 3348.2,
 3067.6,
 2867,
 3030.8,
 2831.3,
 2998.9,
 3011.6,
 2897.6,
 2748.9,
 2814.4,
 2811.3,
 2980.3,
 3083.1,
 3430.4,
 3348.4,
 3085.8,
 3036.4,
 2973.1,
 3110.8,
 2993.5,
 2821,
 2638.8,
 2520.3,
 2173.1,
 2266.1,
 2313.5,
 2315,
 2197.8,
 2207.8,
 2191.1,
 2270,
 2452,
 2577.2,
 2409.8,
 2440.2,
 2364.8,
 2233.7,
 2167,
 2119.6,
 2266,
 2315.4,
 2248.8,
 2269.2,
 2448.7,
 2573.4,
 2702.7,
 2732,
 2779.1,
 2746.3,
 2940.3,
 2976.4,
 2972.9,
 2953.9,
 3090.1,
 3124,
 3225.2,
 3182,
 3057.8,
 2852.7,
 2919.1,
 2871.2,
 2894,
 2796.9,
 2830.1,
 3056.1,
 3193.7,
 3276.8,
 3093.7,
 3235.3,
 3134.7,
 3313.8,
 3300.8,
 2895,
 2860.9,
 3010.1,
 3084.4,
 3023.6,
 3070.6,
 2998.9,
 2993.5,
 2845.7,
 2694.6,
 2441.7,
 2268.4,
 2180.2,
 2003,
 2036.4,
 1952.6,
 1952.7,
 1956.8,
 1929.4,
 1947.6,
 1970.3,
 2085.4,
 2123.7,
 1904.6,
 1940.5,
 2109.4,
 2499,
 2663.5,
 2692.9,
 2435.7,
 2373.1,
 2208.4,
 2230.4,
 2138.9,
 2226.8,
 2256.3,
 2318.2,
 2273.8,
 2202.5,
 2370.4,
 2365.8,
 2467.1,
 2456.9,
 2238.6,
 2375.8,
 2474.1,
 2589.6,
 2518.4,
 2673.1,
 2825.9,
 2407.1,
 2324.3,
 2402.9,
 2324.8,
 2206.8,
 2482.1,
 2596.4,
 2423.6,
 2509.4,
 2581.3,
 2524,
 2508.8,
 2520.8,
 2419.5,
 2450.5,
 2407.5,
 2354.4,
 2555.9,
 2627.2,
 2632.6,
 2504.6,
 2482,
 2545.9,
 2681.1,
 2591.3,
 2588.1,
 2484.5,
 2428.4,
 2333.6,
 2386,
 2338.7,
 2337.7,
 2469.1,
 2538.6,
 2612.8,
 2677.8,
 2791,
 2924.4,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.6000000000000001,
 0.6000000000000001,
 0.6000000000000001,
 0.6000000000000001,
 0.6000000000000001,
 0.6000000000000001,
 0.6000000000000001,
 0.6000000000000001,
 0.6000000000000001,
 0.6000000000000001,
 0.6000000000000001,
 0.6000000000000001,
 0.7000000000000001,
 0.7000000000000001,
 0.7000000000000001,
 0.8,
 0.8,
 0.9,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.7000000000000001,
 0.7000000000000001,
 0.7000000000000001,
 0.8,
 0.8,
 0.8,
 0.9,
 0.9,
 0.9,
 1,
 1,
 1,
 1,
 1.1,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.1,
 1,
 0.9,
 0.9,
 0.9,
 0.9,
 0.9,
 1.1,
 1.1,
 1.1,
 1.1,
 1.1,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.8,
 1.8,
 1.7000000000000002,
 1.7000000000000002,
 1.7000000000000002,
 1.7000000000000002,
 1.7000000000000002,
 1.7000000000000002,
 1.7000000000000002,
 1.7000000000000002,
 1.7000000000000002,
 1.7000000000000002,
 1.7000000000000002,
 1.7000000000000002,
 1.9,
 2.1,
 2.1,
 2.1,
 2.1,
 2.1,
 2.1,
 2.2,
 2.2,
 2.2,
 2.2,
 2.3,
 2.3,
 2.3,
 2.7,
 2.7,
 2.7,
 3,
 3.3,
 3.3,
 3.2,
 3.2,
 3.3,
 3,
 3,
 3,
 3,
 3.1,
 3.4,
 3.4,
 3.4,
 3.3,
 3.3,
 3.3,
 3.3,
 3.3,
 3.2,
 3.3,
 3.3,
 3.4,
 3.5,
 3.4,
 3.4,
 3.6,
 3.6,
 3.6,
 3.6,
 4,
 4.2,
 4.2,
 4,
 3.9,
 3.7,
 3.8,
 3.8,
 4.2,
 4.2,
 4.4,
 4.5,
 4.6,
 4.6,
 4.5,
 4.5,
 4.6,
 4.9,
 4.8,
 4.7,
 5,
 5.1,
 5.1,
 5,
 4.9,
 4.9,
 5.2,
 5.2,
 5.2,
 5.2,
 5.2,
 5.1,
 5.2,
 5.3,
 5.3,
 5.3,
 5.4,
 5.4,
 5.2,
 4.5,
 4,
 4.4,
 4.7,
 4.7,
 4.7,
 4.6,
 4.6,
 4.6,
 4.9,
 5,
 5.3,
 5.3,
 5.9,
 6,
 6.1,
 6.1,
 6.2,
 6.5,
 6.8,
 6.7,
 6.7,
 7.6,
 9.5,
 10.4,
 11.5,
 13,
 13.9,
 13.3,
 14.3,
 15.2,
 22.6,
 19.6,
 15,
 14.7,
 13.5,
 13.3,
 285,
 274,
 286.7,
 280.2,
 275.8,
 285.8,
 282,
 274.4,
 273.7,
 270.3,
 266.3,
 271.3,
 265.7,
 262,
 263.2,
 257.8,
 257.8,
 273.1,
 267.9,
 273.2,
 283.7,
 282.2,
 276.3,
 276.3,
 281.9,
 296,
 294.6,
 303.1,
 314.5,
 322.2,
 313.5,
 310.5,
 319.7,
 316.5,
 319.3,
 333.4,
 358.2,
 359.8,
 340.8,
 329.3,
 355.8,
 357.2,
 351.5,
 360.6,
 379.2,
 379.1,
 390.6,
 408,
 414.2,
 404.3,
 407.6,
 403.5,
 384.7,
 392,
 397.9,
 401.5,
 405.6,
 420.6,
 439.7,
 441.9,
 423.7,
 423.8,
 434.4,
 429.6,
 422.7,
 429.4,
 424.9,
 438,
 456.2,
 470.6,
 476,
 510.9,
 550.8,
 555.6,
 557.2,
 612.3,
 673.6,
 595.6,
 633.1,
 631,
 600.5,
 587.2,
 629.1,
 628.7,
 630.6,
 664.4,
 655.2,
 678.8,
 667.6,
 655.4,
 665.7,
 666,
 713.6,
 754.6,
 806,
 807.2,
 891,
 925,
 965.9,
 909.8,
 889.9,
 891.8,
 938.5,
 835.9,
 829.2,
 803.9,
 760.8,
 821.5,
 860.1,
 942.6,
 924.4,
 891.4,
 926.5,
 903.8,
 934.4,
 949.4,
 995.3,
 1044.6,
 1127.9,
 1126.8,
 1117,
 1095.5,
 1113.8,
 1147.9,
 1202.8,
 1233.2,
 1193.7,
 1215.5,
 1271.1,
 1343,
 1369.7,
 1391.2,
 1359.5,
 1372.4,
 1422.5,
 1481.1,
 1515.2,
 1528.3,
 1575.2,
 1770.1,
 1769,
 1673.7,
 1744.7,
 1658.5,
 1661,
 1742.5,
 1672.9,
 1647.7,
 1579.2,
 1602.9,
 1591,
 1631.1,
 1746.9,
 1745,
 1721.2,
 1678.8,
 1670.6,
 1626.6,
 1593.5,
 1491.1,
 1415.8,
 1337.5,
 1288.5,
 1351,
 1349.5,
 1316.7,
 1273.9,
 1223,
 1244.4,
 1305.8,
 1335.4,
 1298.2,
 1288.1,
 1280.2,
 1311.6,
 1295.5,
 1237.7,
 1226.7,
 1176.7,
 1200.7,
 1249.9,
 1228.6,
 1181.2,
 1194.7,
 1202.3,
 1182.9,
 1130.5,
 1118.1,
 1124.7,
 1157.8,
 1087.1,
 1069.4,
 1098.1,
 1198.8,
 1243,
 1242.8,
 1258.1,
 1277.8,
 1338.3,
 1339.2,
 1325.4,
 1267.2,
 1237.6,
 1151.2,
 1192.8,
 1233.8,
 1231.4,
 1270,
 1246.1,
 1261.8,
 1236.6,
 1283.4,
 1315.8,
 1280.6,
 1282.4,
 1266.6,
 1331.7,
 1332.4,
 1325.7,
 1334.9,
 1303,
 1281.1,
 1238.3,
 1200.9,
 1198.1,
 1214,
 1220.8,
 1251.1,
 1292.1,
 1320,
 1300.7,
 1286.2,
 1283.4,
 1359.7,
 1414.7,
 1501,
 1508.4,
 1494.3,
 1471.2,
 1481.3,
 1560.7,
 1596.8,
 1590.6,
 1681,
 1716.8,
 1734.7,
 1843.2,
 1971.1,
 1924.5,
 1901.7,
 1867.9,
 1857.2,
 1867,
 1810.3,
 1722.5,
 1759.2,
 1849.3,
 1835.2,
 1805.2,
 1785.7,
 1778.3,
 1775.6,
 1818.4,
 1790.9,
 1816.4,
 1849.5,
 1949.4,
 1935.2,
 1849.5,
 1837.1,
 1737.1,
 1763.7,
 1682.1,
 1666.7,
 1726.4,
 1796.2,
 1900,
 1858.9,
 1912.5,
 2000.7,
 25.2,
 24.6,
 27.3,
 23.3,
 27.4,
 29.6,
 28.8,
 30.2,
 32.5,
 31.6,
 32.2,
 26.7,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 20,
 20.2,
 24,
 26,
 25.7,
 24.5,
 25.7,
 26.3,
 28.3,
 27.5,
 24.5,
 27.5,
 30.2,
 32.4,
 29.5,
 24.8,
 25.4,
 27.2,
 28.2,
 29.4,
 26.8,
 29,
 28.8,
 29.6,
 30.6,
 30.3,
 32.7,
 30,
 37.1,
 35.5,
 37.7,
 41.7,
 42.8,
 49.4,
 44.6,
 40.6,
 44.9,
 45.9,
 53.3,
 53.2,
 49.9,
 55.6,
 57.9,
 63.8,
 63.7,
 59.4,
 56.2,
 57.6,
 63.9,
 61.1,
 63.1,
 70.6,
 71,
 69.7,
 74.2,
 73.9,
 63.5,
 60.1,
 60,
 62.5,
 54.6,
 59,
 62.4,
 67.5,
 67.9,
 70.6,
 75.8,
 71.2,
 77,
 82.5,
 92.1,
 91.5,
 91.9,
 94.5,
 103,
 110.4,
 124.6,
 133.5,
 134.8,
 115.2,
 100.8,
 73.6,
 55.1,
 43.3,
 45.6,
 43.7,
 47.3,
 51.2,
 58.6,
 69.3,
 65.8,
 73.1,
 68.2,
 73.9,
 77.5,
 75.2,
 76.9,
 74.8,
 79.9,
 85.7,
 77,
 75.7,
 75.5,
 77.1,
 78.2,
 83.5,
 86.1,
 92.3,
 96.8,
 104.1,
 114.6,
 123.1,
 114.5,
 113.9,
 116.7,
 109.8,
 110,
 108.8,
 110.6,
 107.7,
 111.6,
 119.2,
 124.6,
 120.4,
 109.4,
 95.9,
 102.8,
 113.2,
 113,
 111.5,
 109.5,
 109.2,
 112.3,
 116.1,
 109.5,
 103.3,
 ...]

In [7]:
# getting the prices for each commodity
# there is a total of 280 month
# and the prices are arranged in order of the commodity
cocoa = values[0:280]
diesel = values[280:560]
gold = values[560:840]
oil = values[840:1120]
petrol = values[1120:1400]
# Hence the length of each values variable should be 280
len(diesel)

280

In [15]:
# Now we must get all the gathered data into a DataFrame
# Create an empty DataFrame
dataFrame = pd.DataFrame(index=commodities, columns=month)
dataFrame

,2000M01,2000M02,2000M03,2000M04,2000M05,2000M06,2000M07,2000M08,2000M09,2000M10,...,2022M07,2022M08,2022M09,2022M10,2022M11,2022M12,2023M01,2023M02,2023M03,2023M04
COCOA_PRICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DIESEL_PRICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GOLD_PRICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OIL_PRICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PETROL_PRICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# populating each row with their respective data
dataFrame.loc[dataFrame.index[0], month] = cocoa
dataFrame.loc[dataFrame.index[1], month] = diesel
dataFrame.loc[dataFrame.index[2], month] = gold
dataFrame.loc[dataFrame.index[3], month] = oil
dataFrame.loc[dataFrame.index[4], month] = petrol
dataFrame

,2000M01,2000M02,2000M03,2000M04,2000M05,2000M06,2000M07,2000M08,2000M09,2000M10,...,2022M07,2022M08,2022M09,2022M10,2022M11,2022M12,2023M01,2023M02,2023M03,2023M04
COCOA_PRICE,846.3,701.4,846.5,816.4,822.1,852.5,845.5,775,790.1,807,...,2333.6,2386,2338.7,2337.7,2469.1,2538.6,2612.8,2677.8,2791,2924.4
DIESEL_PRICE,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,13.9,13.3,14.3,15.2,22.6,19.6,15,14.7,13.5,13.3
GOLD_PRICE,285,274,286.7,280.2,275.8,285.8,282,274.4,273.7,270.3,...,1737.1,1763.7,1682.1,1666.7,1726.4,1796.2,1900,1858.9,1912.5,2000.7
OIL_PRICE,25.2,24.6,27.3,23.3,27.4,29.6,28.8,30.2,32.5,31.6,...,105.1,97.7,90.6,93.6,90.4,81.3,83.9,83.9,79.7,82.7
PETROL_PRICE,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,11.3,10.9,11.1,12.3,17.4,16.6,14.1,14.1,13.2,13

In [17]:
# getting columns for the past five years
year_col = month[216:-4]
# getting columns for each year in the five years 
year_2018 = month[216:228]
year_2019 = month[228:240]
year_2020 = month[240:252]
year_2021 = month[252:264]
year_2022 = month[264:276]
year_2022

['2022M01',
 '2022M02',
 '2022M03',
 '2022M04',
 '2022M05',
 '2022M06',
 '2022M07',
 '2022M08',
 '2022M09',
 '2022M10',
 '2022M11',
 '2022M12']

In [19]:
dataFrame[year_2018]

,2018M01,2018M02,2018M03,2018M04,2018M05,2018M06,2018M07,2018M08,2018M09,2018M10,2018M11,2018M12
COCOA_PRICE,1940.5,2109.4,2499,2663.5,2692.9,2435.7,2373.1,2208.4,2230.4,2138.9,2226.8,2256.3
DIESEL_PRICE,4.6,4.6,4.5,4.5,4.6,4.9,4.8,4.7,5,5.1,5.1,5
GOLD_PRICE,1331.7,1332.4,1325.7,1334.9,1303,1281.1,1238.3,1200.9,1198.1,1214,1220.8,1251.1
OIL_PRICE,69.1,65.7,66.7,71.7,77.1,75.9,75,73.9,79.1,80.6,66,57.7
PETROL_PRICE,4.6,4.6,4.5,4.5,4.6,4.9,4.8,4.7,5,5.1,5.1,4.9

In [46]:
# create a DataFrame for the year 2018
year_2018_avg = dataFrame.loc[dataFrame.index[0:5], year_2018]
# calculate the average price for each commodity and assign it to a new column
year_2018_avg['2018_avg'] = year_2018_avg.mean(axis=1)
year_2018_avg

,2018M01,2018M02,2018M03,2018M04,2018M05,2018M06,2018M07,2018M08,2018M09,2018M10,2018M11,2018M12,2018_avg
COCOA_PRICE,1940.5,2109.4,2499,2663.5,2692.9,2435.7,2373.1,2208.4,2230.4,2138.9,2226.8,2256.3,2314.575000
DIESEL_PRICE,4.6,4.6,4.5,4.5,4.6,4.9,4.8,4.7,5,5.1,5.1,5,4.783333
GOLD_PRICE,1331.7,1332.4,1325.7,1334.9,1303,1281.1,1238.3,1200.9,1198.1,1214,1220.8,1251.1,1269.333333
OIL_PRICE,69.1,65.7,66.7,71.7,77.1,75.9,75,73.9,79.1,80.6,66,57.7,71.541667
PETROL_PRICE,4.6,4.6,4.5,4.5,4.6,4.9,4.8,4.7,5,5.1,5.1,4.9,4.775000

In [47]:
# Repeat same process for all five years
# 2019
year_2019_avg = dataFrame.loc[dataFrame.index[0:5], year_2019]
year_2019_avg['2019_avg'] = year_2019_avg.mean(axis=1)
# 2020
year_2020_avg = dataFrame.loc[dataFrame.index[0:5], year_2020]
year_2020_avg['2020_avg'] = year_2020_avg.mean(axis=1)
# 2021
year_2021_avg = dataFrame.loc[dataFrame.index[0:5], year_2021]
year_2021_avg['2021_avg'] = year_2021_avg.mean(axis=1)
# 2022
year_2022_avg = dataFrame.loc[dataFrame.index[0:5], year_2022]
year_2022_avg['2022_avg'] = year_2022_avg.mean(axis=1)
# year_2022_avg

In [48]:
# combine the various DataFrames including the average fo the various years
dataFrame_5y = pd.concat([year_2018_avg,year_2019_avg,year_2020_avg,year_2021_avg,year_2022_avg], axis=1)
dataFrame_5y

,2018M01,2018M02,2018M03,2018M04,2018M05,2018M06,2018M07,2018M08,2018M09,2018M10,...,2022M04,2022M05,2022M06,2022M07,2022M08,2022M09,2022M10,2022M11,2022M12,2022_avg
COCOA_PRICE,1940.5,2109.4,2499,2663.5,2692.9,2435.7,2373.1,2208.4,2230.4,2138.9,...,2588.1,2484.5,2428.4,2333.6,2386,2338.7,2337.7,2469.1,2538.6,2476.916667
DIESEL_PRICE,4.6,4.6,4.5,4.5,4.6,4.9,4.8,4.7,5,5.1,...,10.4,11.5,13,13.9,13.3,14.3,15.2,22.6,19.6,13.133333
GOLD_PRICE,1331.7,1332.4,1325.7,1334.9,1303,1281.1,1238.3,1200.9,1198.1,1214,...,1935.2,1849.5,1837.1,1737.1,1763.7,1682.1,1666.7,1726.4,1796.2,1800.775000
OIL_PRICE,69.1,65.7,66.7,71.7,77.1,75.9,75,73.9,79.1,80.6,...,105.8,111.6,117.2,105.1,97.7,90.6,93.6,90.4,81.3,98.800000
PETROL_PRICE,4.6,4.6,4.5,4.5,4.6,4.9,4.8,4.7,5,5.1,...,9.3,9.5,10.6,11.3,10.9,11.1,12.3,17.4,16.6,11.033333

In [49]:
# get only the average prices in the respective years
df = dataFrame_5y.drop(columns = year_col) # year column contains all years excluding the average of the years
df

                 2018_avg     2019_avg     2020_avg     2021_avg     2022_avg
COCOA_PRICE   2314.575000  2387.600000  2479.808333  2498.983333  2476.916667
DIESEL_PRICE     4.783333     5.166667     4.733333     5.900000    13.133333
GOLD_PRICE    1269.333333  1392.750000  1770.516667  1799.800000  1800.775000
OIL_PRICE       71.541667    64.200000    43.175000    70.791667    98.800000
PETROL_PRICE     4.775000     5.175000     4.691667     5.900000    11.033333

In [58]:
# For easy visualization the data is transposed
df = df.transpose()
df

          COCOA_PRICE  DIESEL_PRICE   GOLD_PRICE  OIL_PRICE  PETROL_PRICE
2018_avg  2314.575000      4.783333  1269.333333  71.541667      4.775000
2019_avg  2387.600000      5.166667  1392.750000  64.200000      5.175000
2020_avg  2479.808333      4.733333  1770.516667  43.175000      4.691667
2021_avg  2498.983333      5.900000  1799.800000  70.791667      5.900000
2022_avg  2476.916667     13.133333  1800.775000  98.800000     11.033333

In [63]:
df = df.rename(index=dict(zip(df.index, ['2018','2019','2020','2021','2022'])))

In [62]:
df

      COCOA_PRICE  DIESEL_PRICE   GOLD_PRICE  OIL_PRICE  PETROL_PRICE
2018  2314.575000      4.783333  1269.333333  71.541667      4.775000
2019  2387.600000      5.166667  1392.750000  64.200000      5.175000
2020  2479.808333      4.733333  1770.516667  43.175000      4.691667
2021  2498.983333      5.900000  1799.800000  70.791667      5.900000
2022  2476.916667     13.133333  1800.775000  98.800000     11.033333

In [64]:
# save to csv
df_csv = df.to_csv('commdity_prices_2018-2022.csv')
df_csv